/*==============================================
common css
===============================================*/
body{
    font-family: 'Roboto Condensed', sans-serif;
    background: #4F5456;
    color: #363958;
    box-sizing: border-box;
}
section{
    background: #FFFFFF;
    overflow: hidden;
    padding: 50px;
    margin-left: 50px;
    margin-top: 50px;
    margin-right: 50px;
}
.half_width{
    width: 40%;
    float: left;
    margin: 10px;
    padding: 35px;
}
 img{
max-width: 100%;
height: auto;
}
.text_highlighter{
    color:darkgoldenrod;
}

/*==============================================
css for menu section
===============================================*/
#menu_section{
    padding-top: 10px;
}
.navbar ul{
    list-style-type: none;
    text-align: right;
}
.navbar ul li{
    display: inline;
    margin: 10px;
}
.navbar ul li a{
    text-decoration: none;
    font-size: 20px;
    padding: 10px 20px;
}

.navbar ul li a:hover{
    background-color: #999;
    color: #fff;
    border-radius: 10px;
}

/*==============================================
css for banner section
===============================================*/
#banner_section{
    padding-top: 0;
    margin-top: 0;
}
.half_width h1{

    font-size: 60px;
    font-weight: 700;
    text-transform: uppercase;
}
.half_width a{
    text-decoration: none;
    text-transform: capitalize;
    background-image: linear-gradient(45deg, #282C34, #F76860);
    color: cornsilk;
    padding: 10px 30px;
    border-radius: 5px;
}
    
/*==============================================
css for about section
===============================================*/
#about_section{
    padding-top: 0;
    margin-top: 0;
}
.half_width h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: 500;
}
.d_btn{
    text-transform: capitalize;
    background-image: linear-gradient(45deg, #282C34, #F76860);
    color: cornsilk;
    padding: 10px 30px;
    border-radius: 5px;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
}
/*==============================================
css for project section
===============================================*/
#projects_section{
    padding-top: 0;
    margin-top: 0;
    background-color: #F8F9FC;
    padding-bottom: 100px;
}
.projects_heading{
    padding-top: 50px;
    font-size: 30px;
    text-align: center;
}
.projects_wrapper{
overflow: hidden;
padding-top: 25px;
}
.child_project{
    width: 33.33%;
    float: left;
}
/*==============================================
css for inquiry section
===============================================*/
#inquiry_section{
    padding-top: 0;
    margin-top: 0;
    padding-top: 50px;    
}
.inquiry_wrapper{
    background-color: #dadfe0;
    background-image: url("shapes/inquirybg.png");
    width: 80%;
    margin: 0 auto;
    padding: 35px 50px;
    display: flex;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    border-radius: 20px;
}
.inquiry_wrapper_text{
    width: 70%;
}
.inquiry_wrapper h3{
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    color: white;
}
.inquiry_wrapper_btn{
    width: 30%;
    margin: auto;
    text-align: center;
}
.inquiry_wrapper a{
    background-image: linear-gradient(45deg, #282C34, #F76860);
    text-decoration: none;
    display: inline-block;
    padding: 10px 20px;
    color: snow;
    text-transform: capitalize;
    border-radius: 5px;
 }
 /*==============================================
css for services section
===============================================*/
#services_section{
    padding-top: 0;
    margin-top: 0;
    background-color: #edebee;
}
.service_heading h3{
font-size: 30px;
text-align: center;
text-transform: uppercase;
}
.service_details{
    display: flex;
}
.single_service{
width: 30.33%;
margin: 0 1%;
padding: 20px;
text-align: center;
box-shadow: 5px 5px 10px #000;
}
.single_service h5{
    font-size: 16px;
    text-transform: uppercase;
}
 /*==============================================
css for footer section
===============================================*/
#footer_section{
    padding-top: 0;
    margin-top: 0;
    padding-top: 50px;
    text-align: center;
}
#footer_section p{
font-size: 20px;
font-weight: 500; margin-bottom: 0;
}
#footer_section h4{
font-size: 40px;
margin-top: 0;
margin-bottom: 0;
}

#footer_section a{
text-decoration: none;
}
 /*==============================================
css for social icon
===============================================*/
.social_icon {
    margin-top: 0;
    padding-top: 0;
}
  
.social_icon a{
    margin-top: 0;
    padding-top: 0;
}
.social_icon a img{
    width: 30px;
    height: 30px; 
    margin: 10px;
    
}



/* End */